---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import {Content as Mark3} from '../components/mark3.md'; 
---

<Layout title="Welcome to AAAAA.">
		<h1>Welcome to <span class="text-gradient">AAAA</span></h1>
		<p>hello my base is {import.meta.env.BASE_URL}</p>
		<p class="first line">
			ayyy <i>astro</i>
		</p>
		<ul role="list" class="link-card-grid">
			<Card
				href="mark"
				title="Mark"
				body="markdown"
			/>
			<Card
				href="mark2"
				title="Mark2"
				body="mdx (extreme markdown)"
			/>
			<Card
				href="svelte"
				title="Svelte"
				body="svelte"
			/>			
			<Card
				href="https://google.com"
				title="google"
				body="use google"
			/>
		</ul>
		<p>here's some markdown:</p>
		<Mark3 />
</Layout>

<style>
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		line-height: 1.6;
		margin: 1rem 0;
		border: 1px solid rgba(var(--accent), 25%);
		background-color: white;
		padding: 1rem;
		border-radius: 0.4rem;
	}
	.instructions code {
		font-size: 0.875em;
		font-weight: bold;
		background: rgba(var(--accent), 12%);
		color: rgb(var(--accent));
		border-radius: 4px;
		padding: 0.3em 0.45em;
	}
	.instructions strong {
		color: rgb(var(--accent));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0;
	}
</style>
